body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
  overflow-x: hidden;
  background: #f5f7fa;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  .footer {
    z-index: 1;
    --footer-background: #0232f0;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
    .bubbles {
      position: absolute;
      max-width: 90%;
      top: 0;
      left: -20%;
      right: 0;
      height: 1rem;
      background: var(--footer-background);
      filter: url("#blob");
      .bubble {
        position: absolute;
        left: var(--position, 30%);
        background: var(--footer-background);
        border-radius: 100%;
        animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
          bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
        transform: translate(-50%, 100%);
      }
    }
    .content {
      z-index: 2;
      min-width: 100%;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 4rem;
      padding: 2rem;
      background: var(--footer-background);
      a,
      p {
        color: #f5f7fa;
        text-decoration: none;
      }
      b {
        color: white;
      }
      p {
        margin: 0;
        font-size: 0.75rem;
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > div {
          margin: 0.25rem 0;
          > * {
            margin-right: 0.5rem;
          }
        }
        .image {
          align-self: center;
          width: 4rem;
          height: 4rem;
          margin: 0.25rem 0;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

@media all and (max-width: 940px) {
  .bubbles {
    left: -60%;
  }
}

@media all and (max-width: 1039px) {
  .text-footer {
    font-size: 25px;
  }
  .btn-footer {
    padding-top: 3px;
  }
}

@media all and (max-width: 803px) {
  .prefooter {
    padding-left: 20px;
  }
}

@media all and (max-width: 651px) {
  /* .prefooter {
    padding-left: 180px;
  } */
  .text-footer {
    font-size: 20px;
  }
}

@media all and (max-width: 500px) {
  .prefooter {
    padding-left: 70px;
  }
  /* .pfooter{
    width: 500px;
  } */
}

@media all and (max-width: 370px) {
  .prefooter {
    padding-left: 130px;
  }
  /* .pfooter{
    width: 500px;
  } */
}